<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
<main class="main">
  <div class="content">
    <header>
      <p class="titulo">Lista de Contatos</p>
      <button class="add" routerLink="/cadastro">
        <span class="material-symbols-rounded">add</span>
      </button>
    </header>
    <div class="boxes" *ngIf="contatos.length > 0; else noContacts">
      <div class="box" *ngFor="let contato of contatos">
        <div class="pessoa">
          <p class="nome">{{ contato.nome }}</p>
          <p class="numero">{{ contato.numero }}</p>
        </div>
        <div class="botoes">
          <button class="delete" (click)="excluirContato(contato.id!)">
            <span class="material-symbols-rounded">delete_forever</span>
          </button>
          <button class="edit" routerLink="/edicao">
            <span class="material-symbols-rounded">edit_square</span>
          </button>
          <button class="detail" routerLink="/detalhes">
            <span class="material-symbols-rounded">info</span>
          </button>
        </div>
      </div>
    </div>
    <ng-template #noContacts>
      <p>Nenhum contato encontrado.</p>
    </ng-template>
  </div>
</main>
