<main *ngIf="contato">
  <p class="title">Detalhes do Contato</p>
  <form>
    <label for="">Id:</label>
    <input type="text" name="NId" id="IId" [value]="contato.id" disabled />
    <label for="">Nome:</label>
    <input
      type="text"
      name="NName"
      id="IName"
      [value]="contato.nome"
      disabled
    />
    <label for="">Número:</label>
    <input type="tel" name="NTel" id="NTel" [value]="contato.numero" disabled />
  </form>
  <div class="botoes">
    <button class="btnVoltar" routerLink="/">
      <p>VOLTAR</p>
    </button>
  </div>
</main>

<p *ngIf="!contato">Carregando ou contato não encontrado...</p>
